{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fitnezz</title>


    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="48x48" href="{% static 'images/fitnezz_favicon.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/fitnezz_favicon.png' %}">
    <link rel="icon" type="image/png" sizes="144x144" href="{% static 'images/fitnezz_favicon.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/fitnezz_favicon.png' %}">
    <link rel="icon" type="image/png" sizes="256x256" href="{% static 'images/fitnezz_favicon.png' %}">
    <link rel="icon" type="image/png" sizes="384x384" href="{% static 'images/fitnezz_favicon.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'images/fitnezz_favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/b70d731558.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://use.fontawesome.com/d416e09bd8.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>


<i class="fa fa-arrow-circle-up" aria-hidden="true" id="upbtn"></i>

<header class="header">
    <a href="index.html" style="text-decoration:none; color: inherit;">
        <div class="logo"><i class="fa-solid fa-dumbbell"></i> Fitne<span style="color: purple">zz</span></div>
    </a>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="#">News</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>

    <a href="#registration">
        <div class="button">
            <button class="btn2 grow">Become a member</button>
        </div>
    </a>
</header>

{% block body %}


{% endblock body %}

<footer class="footer">
    <div class="container-footer">
        <div class="row">
            <div class="footer-col one">
                <img src="{% static 'images/logo.png' %}" alt="Logo" style="item-margin:200px left">
                <strong>
                    <p style="text-align:left ;"> We take care of your fitness</p>
                </strong>
                <div class="socials" style="padding-bottom:10px;">
                    <a href="#"><i class="fb fa fa-facebook-f"></i></a>
                    <a href="#"><i class="twit fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="linkd fa fa-linkedin"></i></a>
                </div>
            </div>

            <div class="footer-col schedule">
                <h4 class="timing" style="text-align:left ;"><i class="fa-solid fa-calendar-days"></i> mon - wed
                </h4>
                <p style="text-align:left ;"><span class="num">8</span>AM - <span class="num">4</span>PM</p>
                <br>
                <h4 class="timing" style="text-align:left ;"><i class="fa-solid fa-calendar-days"></i> thu - sat
                </h4>
                <p style="text-align:left ;"><span class="num">10</span>AM - <span class="num">6</span>PM</p>
            </div>
            <div class="footer-col">
                <strong>
                    <h4>About Us</h4>
                </strong>
                <ul>
                    <li style="text-align:left ;"><a href="#">our program</a>
                        <hr noshade="noshade" />
                    </li>
                    <li style="text-align:left ;"><a href="#">our legacy</a>
                        <hr noshade="noshade" />
                    </li>
                    <li style="text-align:left ;"><a href="#">our story</a>
                        <hr noshade="noshade" />
                    </li>
                    <li style="text-align:left ;"><a href="#">our club</a>
                        <hr noshade="noshade" />
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <strong>
                    <h4 style="text-align:left ;">Your Fitness</h4>
                </strong>
                <ul>
                    <li style="text-align:left ;"><a href="#">why choose us?</a>
                        <hr noshade="noshade" />
                    </li>
                    <li style="text-align:left ;"><a href="#">testimonials</a>
                        <hr noshade="noshade" />
                    </li>
                    <li style="text-align:left ;"><a href="#">workout tips</a>
                        <hr noshade="noshade" />
                    </li>
                    <li style="text-align:left ;"><a href="#">activities</a>
                        <hr noshade="noshade" />
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <strong>
                    <h4 style="text-align:left ;">More</h4>
                </strong>
                <ul>
                    <li style="text-align:left ;"><a href="#">accessibility</a>
                        <hr noshade="noshade" />
                    </li>
                    <li style="text-align:left ;"><a href="#">find a gym</a>
                        <hr noshade="noshade" />
                    </li>
                    <li style="text-align:left ;"><a href="#">news</a>
                        <hr noshade="noshade" />
                    </li>
                    <li style="text-align:left ;"><a href="#">shop</a>
                        <hr noshade="noshade" />
                    </li>


                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright &copy; <span><a href="https://github.com/Subhradeep10/Fitnezz" target="_blank">
                        Fitnezz</a></span> | All Rights Reserved</p>
        </div>
    </div>
    </div>
</footer>

<script>
    var preloader = document.getElementById('load');
    const upBtn = document.getElementById('upbtn')

    function myfunction() {
        preloader.style.display = 'none';
    }

    upBtn.addEventListener('click', () => {
        $('html,body').animate({ scrollTop: 0 }, 500);
    })
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>

</html>