{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="box" >
    <iframe src="https://scratch.mit.edu/projects/600560206/embed" allowtransparency="true" width="800px" height="563px" frameborder="0"
scrolling="no" id="gamePlay" allowfullscreen style="display: inline-block; margin-top: 110px;" align="left"></iframe>
</div>
    
    <img id="bg" src="{% url 'video_feed_game' %}" alt="you"  style="border: 5px solid #555; margin-top: 110px; display: inline-block;" align="right"/>
   

    
{% endblock %}
     