{% extends 'base.html' %}

{% block body %}
<div class="container" styles=>
    <div class="row">
        <div class="col-md-6">
            <h1>Create Workout Routine</h1>
            <form action="#" method="post">
                {% csrf_token %}
                <div class="form-group" style = "margin-bottom: 10px;">
                    <label for="routine_name">Routine Name:</label>
                    <input type="text" class="form-control" id="routine_name" name="routine_name" required>
                </div>
                <div class="form-group">
                    <label for="exercise_name">Exercise Name:</label>
                    <input type="text" class="form-control" id="exercise_name" name="exercise_name" required>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="num_sets">Number of Sets:</label>
                        <input type="number" class="form-control" id="num_sets" name="num_sets" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="num_reps">Number of Reps:</label>
                        <input type="number" class="form-control" id="num_reps" name="num_reps" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Add Exercise</button>
            </form>
        </div>
        <div class="col-md-6">
            <h1>Workout Preview</h1>
            <div style="border: 1px solid #ccc; border-radius: 5px; padding: 10px;">
                <ul style="list-style: none; padding-left: 0;">
                    {% for exercise in exercises %}
                    <li style="margin-bottom: 10px; padding: 5px; background-color: #f7f7f7; border-radius: 3px;">
                        <h4>{{ exercise.name }}</h4>
                        <p><strong>Number of Sets:</strong> {{ exercise.sets }}</p>
                        <p><strong>Number of Reps:</strong> {{ exercise.reps }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>




        <div class="col-md-4">
            <!-- display user profile -->

            <h1>User Profile</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" style = "font-style:normal; font-size: large;">
                            <h4>Personal Information</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                            <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
                            <p class="card-text"><strong>Age:</strong> {{ user.age }}</p>
                            <p class="card-text"><strong>Gender:</strong> {{ user.gender }}</p>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-header" style = "font-style:normal; font-size: large;">
                            <h4>Medical Information</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Blood Pressure:</strong> {{ user.medical_info.blood_pressure }}</p>
                            <p class="card-text"><strong>Heart Rate:</strong> {{ user.medical_info.heart_rate }}</p>
                            <p class="card-text"><strong>BMI:</strong> {{ user.medical_info.bmi }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header" style = "font-style:normal; font-size: large;">
                            <h4>Workout Routines</h4>
                        </div>
                        <div class="card-body">
                            {% if user.workout_routines %}
                                <ul>
                                    {% for routine in user.workout_routines.all %}
                                        <li>{{ routine.name }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>No workout routines found.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>
<style>
    .form-control {
        border-radius: 5px;
        border-color: #ccc;
    }

    button:hover {
        background-color: #0062cc;
        border-color: #005cbf;
    }
</style>
{% endblock %}